[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/limit-order-protocol"]
	path = lib/limit-order-protocol
	url = https://github.com/1inch/limit-order-protocol
[submodule "lib/cross-chain-swap"]
	path = lib/cross-chain-swap
	url = https://github.com/1inch/cross-chain-swap
